.item-detail {
    width: 100%;
    display: flex;
    background-color: #0b1e42;
    color: white;
}

.image-detail {
    width: 25%;
    padding: 40px;
}

.image-detail img {
    width: 500px;
    height: 750px;
    object-fit: cover;
}

.content-detail {
    width: 75%;
    padding: 0 20px;
}

.name-detail {
    font-size: 35px;
}

.text-detail {
    font-size: 20px;
}

.button-cart {
    color: rgb(255, 254, 254);
    background-color: rgb(61, 61, 61);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
}