.item-list-container {
    padding: 10px 50px;
    background-color: #02122e;
    color: white;
     font-family: sans-serif;
}

.title-item-list-container {
    padding-bottom: 20px;
    text-align: center;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    flex-basis: 0%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 50px;
    margin-bottom: 70px;
    scale: 1;
    transition: 0.3s ease-in-out;
}

.item:hover {
    scale: 1.1;
    box-shadow: 7px 0px 58px 15px rgba(112,134,176,0.73);
    -webkit-box-shadow: 7px 0px 58px 15px rgba(112,134,176,0.73);
    -moz-box-shadow: 7px 0px 58px 15px rgba(112,134,176,0.73);
}

.image-item {
    border-radius: 5px;
    width: 200px;
    height: 250px;
    object-fit: cover;
}