.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#050927 ;
    font-family: sans-serif;

    .imageNavbar {

        .iconNavbar {
            height: 77px;
            width: 77px;

        }
    }

    .categoriesNavbar {
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        gap: 50px;

        .categorieNavbar {
            font-family: sans-serif;
            text-decoration: none;
            color: white;
            font-size: 21px;
            font-weight:500;
        }
    }
    .count{
        display: flex;
        flex-direction: row;
    }
}










/*
.menuNavegable {
    background-color: #FFA639;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.icon-navbar{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
}

.menuNavegable ul {}

.menuNavegable ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menuNavegable ul li a {
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
}

.cardCarrito{
    display: flex;
    border: solid 2px #FFFFFF;
    border-radius: 13px;
}

.cardCarrito img{
    width: 30px;
    height: 30px;
}*/